@import "tailwindcss";

@font-face {
  font-family: "YourFontName";
  src: url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf");
}

:root {
  background-color: #ecf2ff;
  font-family: "YourFontName";
}

.div-rounded {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), transparent);
  padding: 40px;
}

.div-summary {
  background: hsl(0, 100%, 67%);
}
